<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron epic">
    <h2>This is</h2>
    <h1>Atilla</h1>
    <p>The browser-based GUI for ElasticSearch.</p>
    <ul class="welcome-links">
        <li><a href="http://npmjs.com/package/atilla">Homepage</a></li>
        <li><a href="https://github.com/andrefs/node-atilla/issues">Issues</a></li>
        <li></li>
    </ul>
</div>
<noscript>&lt;h1&gt;You won&amp;#146;t get far in life without JavaScript&amp;hellip;&lt;/h1&gt;</noscript>

<div id="app" class="container">{{{ html }}}</div>
