
<html class=" js  cssmask textoverflow filereader fileinput">
    <head>
        <meta charset="utf-8">
        <title>Atilla</title>

        <!-- Google Font -->
        <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/main.css"/>
    </head>
    <body>
        {{{body}}}

        <script src="/js/vendor.js"></script>
        <script src="/js/vendor.bundle.js"></script>
        <script src="/js/bundle.js"></script>

        <script type="text/javascript">
        $(function () {
          $('[data-toggle="popover"]').popover()
        })
        </script>
    </body>
</html>
