<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>My page title</title>
	<meta name="author" content="André Santos">
	<meta name="description" content="description here">

	<!-- CSS -->
    <!-- Other -->
	<link rel="stylesheet" href="" type="text/css">
    <!-- Inline -->
    <style>
        /* css here */
    </style>


	<!-- JS  -->
    <!-- Inline -->
	<script type="text/javascript">
	</script>
</head>
<body>
	<h1>Wondersnights</h1>
	<h2>Whats the mindz</h2>

	<!-- More JS -->
    <!-- Other -->
	<script src="./app.js" type="text/javascript"></script>
	<script src="" type="text/javascript"></script>

</body>
</html>

